#header {
  z-index: 1; position: relative; height: 100%;
  text-align: center;

  h1 {
    z-index: 2; position: absolute; top: 50%; width: 100%; transform: translateY(-50%);
    padding: $bl*5.7 0 0 0;

    .text {
      @extend %header_1;
      z-index: 2; display: block; position: relative; margin: 0 auto $bl*3; max-width: 6em;
    }
    .number {
      @include generate_base_font_styles($montserrat_light);
      z-index: 1; display: block; position: absolute; left: 0; top: 0; width: 100%;
      font-size: px2em(200); line-height: 1; color: $red;
      background: $blue;
    }
  }

  .latest {
    z-index: 2; position: absolute; bottom: $bl*3; left: 0; padding: $bl*2 0 $bl*2; width: 100%;
    text-align: center;
    background: $blue;

    a { @include elm-header_link; }
  }

  &:after {
    content: '';
    z-index: 1; display: block; position: absolute; top: 50%; bottom: 0; left: 50%; margin-left: -0.075em; width: 0.15em;
    background: $divider_grey;
  }

  .about_page & {

    h1 { top: 40%; }
    h2 {
      @extend %header_1;
      z-index: 2; display: block; position: absolute; bottom: 10%; padding: 0.2em 0; width: 100%;
      text-align: center; color: $red;
      background: $blue;

      span { display: block; }
    }

    &:after {
      margin-left: -0.15em; width: 0.3em;
    }
  }

  //** SMALL **
  @include respond-to(34em) {

    h1 {
      padding-top: $bl*7.5;

      .number { font-size: 16px; line-height: 1; } // Reset to prevent IE em bubbling.
      .number {
        font-size: px2em(300); line-height: 1;
      }
    }
  }

  // ** VERTICAL BREAKPOIT - MEDIUM WIDTH **
  @media only screen and (max-width: $medium) and (max-height: 26.8em) {

    h1 { font-size: 8px; }
  }

  // ** MEDIUM **
  @include respond-to($medium) {


    h1 {
      padding-top: $bl*14;

      .text:after{
        margin-top:1em; height:200px;
      }

      .number { font-size: 16px; line-height: 1; } // Reset to prevent IE em bubbling.
      .number {
        font-size: px2em(500); line-height: 1;
      }
    }

    .about_page & {
      font-size: 10px;

      h2 span {
        display: inline; margin-left: 0.2em;

        &:first-child { margin-left: 0; }
      }
    }
  }

  // ** VERTICAL BREAKPOIT - MEDIUM WIDTH **
  @media only screen and (min-width: $medium) and (max-width: $large) and (max-height: 41em) {

    h1 { font-size: 10px; }
  }

  //** LARGE **
  @include respond-to($large) {

    h1 {
      top: 40%; padding-top: $bl*16;

      .text{ margin-bottom: 0; }
      .number { font-size: 16px; line-height: 1; } // Reset to prevent IE em bubbling.
      .number {
        font-size: px2em(636); line-height: 1;
      }
    }

    .about_page & {

      h1 { 
        top: 30%;
        font-size: 8px;
      }
    }
  }

  // ** VERTICAL BREAKPOIT - LARGE WIDTH **
  @media only screen and (min-width: $large) and (max-height: 55em) {

    h1 { font-size: 14px; }
  }
  @media only screen and (min-width: $large) and (max-height: 49em) {

    h1 { font-size: 12px; }
  }
  @media only screen and (min-width: $large) and (max-height: 43.75em) {

    h1 { font-size: 10px; }
  }
}