html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

/* normalize based rules */
audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  height: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

/**
* 1. Correct `color` not being inherited in IE 8/9.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* HTML5
*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/**
* 1. Correct font family not being inherited in all browsers.
* 2. Correct font size not being inherited in all browsers.
* 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
*/
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button,
html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

#breakpoint_element {
  position: relative;
  z-index: 36; }

@media only screen and (min-width: 52em) {
  #breakpoint_element {
    z-index: 52; } }
@media only screen and (min-width: 71em) {
  #breakpoint_element {
    z-index: 71; } }
@media only screen and (min-width: 90em) {
  #breakpoint_element {
    z-index: 90; } }
@font-face {
  font-family: 'montserratbold';
  src: url("/fonts/montserrat-bold-webfont.eot");
  src: url("/fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat-bold-webfont.woff2") format("woff2"), url("/fonts/montserrat-bold-webfont.woff") format("woff"), url("/fonts/montserrat-bold-webfont.ttf") format("truetype"), url("/fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratlight';
  src: url("/fonts/montserrat-light-webfont.eot");
  src: url("/fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat-light-webfont.woff2") format("woff2"), url("/fonts/montserrat-light-webfont.woff") format("woff"), url("/fonts/montserrat-light-webfont.ttf") format("truetype"), url("/fonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }
header h1 .text {
  font-family: "montserratbold", sans-serif;
  font-size: 2.75em;
  line-height: 1.04545em;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 0em 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .wf-firasans-n4-active header h1 .text, header h1 .wf-firasans-n4-active .text {
    font-family: "montserratbold", sans-serif; }
  @media only screen and (min-width: 34em) {
    header h1 .text {
      font-size: 4.75em;
      line-height: 1.05263em; } }
  @media only screen and (min-width: 52em) {
    header h1 .text {
      font-size: 7.5em;
      line-height: 0.91667em; } }
  @media only screen and (min-width: 71em) {
    header h1 .text {
      font-size: 9.8125em;
      line-height: 1.04459em; } }

.introduction h2 {
  font-family: "montserratbold", sans-serif;
  font-size: 6.25em;
  line-height: 1em;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 0em 0;
  color: #a84937;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .wf-firasans-n4-active .introduction h2, .introduction .wf-firasans-n4-active h2 {
    font-family: "montserratbold", sans-serif; }

.steve h3,
.gordon h3 {
  font-family: "montserratbold", sans-serif;
  font-size: 1.125em;
  line-height: 1.44444em;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 1.11111em 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .wf-firasans-n4-active .steve h3, .steve .wf-firasans-n4-active h3,
  .wf-firasans-n4-active .gordon h3,
  .gordon .wf-firasans-n4-active h3 {
    font-family: "montserratbold", sans-serif; }

.steve > .text p,
.gordon > .text p {
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 1.25em 0;
  color: #cccccc; }
  .wf-firasans-n4-active .steve > .text p, .steve > .text .wf-firasans-n4-active p,
  .wf-firasans-n4-active .gordon > .text p,
  .gordon > .text .wf-firasans-n4-active p {
    font-family: "montserratlight", sans-serif; }

.steve > .text p:first-of-type,
.gordon > .text p:first-of-type {
  font-family: "montserratbold", sans-serif;
  font-size: 1.5em;
  line-height: 2.08333em;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 1.25em 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .wf-firasans-n4-active .steve > .text p:first-of-type, .steve > .text .wf-firasans-n4-active p:first-of-type,
  .wf-firasans-n4-active .gordon > .text p:first-of-type,
  .gordon > .text .wf-firasans-n4-active p:first-of-type {
    font-family: "montserratbold", sans-serif; }

article {
  margin: 0 auto;
  max-width: 36em; }
  @media only screen and (min-width: 52em) {
    article {
      max-width: 74em;
      margin-bottom: 2em; } }

main span.divider:after, header h1:after {
  content: "";
  display: block;
  position: relative;
  margin: 0.2em auto;
  width: 0.15em;
  height: 8.125em;
  background-color: #747c7f; }

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

body {
  color: white;
  background: #1b2b31; }

main {
  padding: 0 1em;
  text-align: center; }
  @media only screen and (min-width: 52em) {
    main {
      padding: 0 2em; } }

nav {
  z-index: 2;
  position: relative;
  padding: 3.125em 0 0 0;
  text-align: center; }

nav a, main a {
  font-family: "montserratbold", sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  clear: both;
  padding-bottom: 0.27778em;
  font-size: 1.125em;
  text-decoration: none;
  color: white;
  border-bottom: 0.2em solid white;
  transition: padding .4s, color .4s, border-color .4s; }
  .wf-firasans-n4-active nav a, .wf-firasans-n4-active main a {
    font-family: "montserratbold", sans-serif; }
  nav a:hover, main a:hover {
    padding-bottom: 0;
    color: #cccccc;
    border-color: #cccccc; }

main span.divider:after {
  margin-top: 3em; }

header {
  z-index: 1;
  position: relative;
  text-align: center; }
  header h1 {
    position: relative;
    padding: 3.5625em 0 0 0; }
    header h1 .text {
      z-index: 2;
      display: block;
      position: relative;
      margin: 0 auto;
      max-width: 6em;
      margin-bottom: 0.5em; }
    header h1 .number {
      font-family: "montserratlight", sans-serif;
      font-weight: 400;
      font-style: normal;
      z-index: 1;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      font-size: 12.5em;
      line-height: 1;
      color: #a84937; }
      .wf-firasans-n4-active header h1 .number {
        font-family: "montserratlight", sans-serif; }
    header h1:after {
      margin-top: 2em; }
  @media only screen and (min-width: 34em) {
    header h1 {
      padding-top: 4.6875em; }
      header h1 .number {
        font-size: 16px;
        line-height: 1; }
      header h1 .number {
        font-size: 18.75em;
        line-height: 1; } }
  @media only screen and (min-width: 52em) {
    header h1 {
      padding-top: 8.75em; }
      header h1 .text:after {
        margin-top: 1em;
        height: 200px; }
      header h1 .number {
        font-size: 16px;
        line-height: 1; }
      header h1 .number {
        font-size: 31.25em;
        line-height: 1; } }
  @media only screen and (min-width: 71em) {
    header h1 {
      padding-top: 10em; }
      header h1 .text {
        margin-bottom: 0; }
      header h1 .number {
        font-size: 16px;
        line-height: 1; }
      header h1 .number {
        font-size: 39.75em;
        line-height: 1; } }

.introduction h2 {
  text-align: center; }

article {
  position: relative;
  overflow: hidden;
  text-align: center; }
  article .week_number span {
    font-family: "montserratlight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9.375em;
    line-height: 1;
    color: #a84937; }
    .wf-firasans-n4-active article .week_number span {
      font-family: "montserratlight", sans-serif; }
  @media only screen and (min-width: 52em) {
    article {
      clear: both;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-flex: 3 0px;
          -ms-flex: 3 0px;
              flex: 3 0px; }
      article h1 {
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        width: 20%;
        padding-top: 7%; }
        article h1 .number_week:after {
          display: none; }
        article h1 .number_week:before {
          display: none; } }
  @media only screen and (min-width: 71em) {
    article h1 {
      width: 24%;
      padding-top: 6%; }
      article h1 .number_week {
        font-size: 16px;
        line-height: 1; }
      article h1 .number_week {
        font-size: 13.375em;
        line-height: 1; } }

.steve,
.gordon {
  margin: 0 0 2em;
  text-align: left; }
  .steve .text,
  .gordon .text {
    padding: 3em 0; }
  .steve > img,
  .gordon > img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 360px;
    border-radius: 50%; }
  .steve > .text p:first-of-type,
  .gordon > .text p:first-of-type {
    font-size: 16;
    line-height: 1.3; }
  .steve > .text:last-child,
  .gordon > .text:last-child {
    margin-bottom: 0; }
  @media only screen and (min-width: 52em) {
    .steve,
    .gordon {
      width: 40%; }
      .steve img,
      .gordon img {
        width: 80%; }
      .steve .text:before,
      .gordon .text:before {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -1px;
        width: 2px;
        height: 100%;
        background-color: #747c7f; } }
  @media only screen and (min-width: 71em) {
    .steve,
    .gordon {
      width: 38%; } }

@media only screen and (min-width: 52em) {
  .steve {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; } }

@media only screen and (min-width: 52em) {
  .gordon {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; } }

@media only screen and (min-width: 52em) {
  .stats {
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    background-color: #1b2b31;
    z-index: 99; } }
