html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

/* normalize based rules */
audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  height: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

/**
* 1. Correct `color` not being inherited in IE 8/9.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* HTML5
*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/**
* 1. Correct font family not being inherited in all browsers.
* 2. Correct font size not being inherited in all browsers.
* 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
*/
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button,
html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

#breakpoint_element {
  position: relative;
  z-index: 0; }

@media only screen and (min-width: 52em) {
  #breakpoint_element {
    z-index: 52; } }
@media only screen and (min-width: 71em) {
  #breakpoint_element {
    z-index: 71; } }
@media only screen and (min-width: 90em) {
  #breakpoint_element {
    z-index: 90; } }
@font-face {
  font-family: 'montserratbold';
  src: url("/fonts/montserrat-bold-webfont.eot");
  src: url("/fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat-bold-webfont.woff2") format("woff2"), url("/fonts/montserrat-bold-webfont.woff") format("woff"), url("/fonts/montserrat-bold-webfont.ttf") format("truetype"), url("/fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratlight';
  src: url("/fonts/montserrat-light-webfont.eot");
  src: url("/fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat-light-webfont.woff2") format("woff2"), url("/fonts/montserrat-light-webfont.woff") format("woff"), url("/fonts/montserrat-light-webfont.ttf") format("truetype"), url("/fonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }
#header h1 .text {
  font-family: "montserratbold", sans-serif;
  font-size: 2.75em;
  line-height: 1.04545em;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 0em 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .wf-firasans-n4-active #header h1 .text, #header h1 .wf-firasans-n4-active .text {
    font-family: "montserratbold", sans-serif; }
  @media only screen and (min-width: 34em) {
    #header h1 .text {
      font-size: 4.75em;
      line-height: 1.05263em; } }
  @media only screen and (min-width: 52em) {
    #header h1 .text {
      font-size: 7.5em;
      line-height: 0.91667em; } }
  @media only screen and (min-width: 71em) {
    #header h1 .text {
      font-size: 9.8125em;
      line-height: 1.04459em; } }

.introduction h2 {
  font-family: "montserratbold", sans-serif;
  font-size: 6.25em;
  line-height: 1em;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 0em 0;
  color: #a84937;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .wf-firasans-n4-active .introduction h2, .introduction .wf-firasans-n4-active h2 {
    font-family: "montserratbold", sans-serif; }

#header .latest a, .statistic .title, nav .link, article.js_enabled .read_more a, .coming p, .steve .text h3,
.gordon .text h3 {
  font-family: "montserratbold", sans-serif;
  font-size: 1.125em;
  line-height: 1.44444em;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 1.11111em 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .wf-firasans-n4-active #header .latest a, #header .latest .wf-firasans-n4-active a, .wf-firasans-n4-active .statistic .title, .statistic .wf-firasans-n4-active .title, .wf-firasans-n4-active nav .link, nav .wf-firasans-n4-active .link, .wf-firasans-n4-active article.js_enabled .read_more a, article.js_enabled .read_more .wf-firasans-n4-active a, .wf-firasans-n4-active .coming p, .coming .wf-firasans-n4-active p, .wf-firasans-n4-active .steve .text h3, .steve .text .wf-firasans-n4-active h3,
  .wf-firasans-n4-active .gordon .text h3,
  .gordon .text .wf-firasans-n4-active h3 {
    font-family: "montserratbold", sans-serif; }

.statistic .baseline, .site_by a, .steve .text p,
.gordon .text p {
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 1.25em 0;
  color: #cccccc; }
  .wf-firasans-n4-active .statistic .baseline, .statistic .wf-firasans-n4-active .baseline, .wf-firasans-n4-active .site_by a, .site_by .wf-firasans-n4-active a, .wf-firasans-n4-active .steve .text p, .steve .text .wf-firasans-n4-active p,
  .wf-firasans-n4-active .gordon .text p,
  .gordon .text .wf-firasans-n4-active p {
    font-family: "montserratlight", sans-serif; }

.steve .text p:first-child,
.gordon .text p:first-child {
  font-family: "montserratbold", sans-serif;
  font-size: 1.5em;
  line-height: 1.33333em;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 1.25em 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .wf-firasans-n4-active .steve .text p:first-child, .steve .text .wf-firasans-n4-active p:first-child,
  .wf-firasans-n4-active .gordon .text p:first-child,
  .gordon .text .wf-firasans-n4-active p:first-child {
    font-family: "montserratbold", sans-serif; }

article {
  margin: 0 auto;
  max-width: 36em; }
  @media only screen and (min-width: 52em) {
    article {
      max-width: 74em;
      margin-bottom: 2em; } }

main span.divider:after, article:after {
  content: "";
  display: block;
  position: relative;
  margin: 2em auto;
  width: 0.15em;
  height: 8.125em;
  background-color: #747c7f; }

#header {
  z-index: 1;
  position: relative;
  height: 100%;
  text-align: center; }
  #header h1 {
    z-index: 2;
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 3.5625em 0 0 0; }
    #header h1 .text {
      z-index: 2;
      display: block;
      position: relative;
      margin: 0 auto 1.875em;
      max-width: 6em; }
    #header h1 .number {
      font-family: "montserratlight", sans-serif;
      font-weight: 400;
      font-style: normal;
      z-index: 1;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      font-size: 12.5em;
      line-height: 1;
      color: #a84937;
      background: #1b2b31; }
      .wf-firasans-n4-active #header h1 .number {
        font-family: "montserratlight", sans-serif; }
  #header .latest {
    z-index: 2;
    position: absolute;
    bottom: 1.875em;
    left: 0;
    padding: 1.25em 0 1.25em;
    width: 100%;
    text-align: center;
    background: #1b2b31; }
    #header .latest a {
      display: inline-block;
      padding-bottom: 0.13889em;
      margin: 0;
      text-decoration: none;
      color: white;
      border-bottom: 0.2em solid white;
      -webkit-transition: padding .4s;
              transition: padding .4s; }
      #header .latest a a {
        text-decoration: none;
        color: white;
        -webkit-transition: color .4s, border-color .4s;
                transition: color .4s, border-color .4s; }
        #header .latest a a:hover {
          color: #cccccc; }
      #header .latest a:hover {
        padding-bottom: 0;
        border-color: #cccccc; }
  #header:after {
    content: '';
    z-index: 1;
    display: block;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    margin-left: -0.075em;
    width: 0.15em;
    background: #747c7f; }
  @media only screen and (min-width: 34em) {
    #header h1 {
      padding-top: 4.6875em; }
      #header h1 .number {
        font-size: 16px;
        line-height: 1; }
      #header h1 .number {
        font-size: 18.75em;
        line-height: 1; } }
  @media only screen and (min-width: 52em) {
    #header h1 {
      padding-top: 8.75em; }
      #header h1 .text:after {
        margin-top: 1em;
        height: 200px; }
      #header h1 .number {
        font-size: 16px;
        line-height: 1; }
      #header h1 .number {
        font-size: 31.25em;
        line-height: 1; } }
  @media only screen and (min-width: 71em) {
    #header h1 {
      padding-top: 10em; }
      #header h1 .text {
        margin-bottom: 0; }
      #header h1 .number {
        font-size: 16px;
        line-height: 1; }
      #header h1 .number {
        font-size: 39.75em;
        line-height: 1; } }

.statistic {
  text-align: center; }
  .statistic .title {
    margin: 0; }
  .statistic .amount {
    font-family: "montserratbold", sans-serif;
    font-weight: 700;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
    line-height: 1;
    color: white; }
    .wf-firasans-n4-active .statistic .amount {
      font-family: "montserratbold", sans-serif; }
  .statistic .baseline {
    display: block; }
  .statistic .percentage_bar {
    display: block;
    margin: 0.46875em auto;
    width: 85%; }
    .statistic .percentage_bar .bar {
      display: block;
      margin: 0 auto;
      height: 0.25em;
      background: #a84937; }
    .statistic .percentage_bar .bar.percent_0 {
      width: 0%; }
    .statistic .percentage_bar .bar.percent_1 {
      width: 1%; }
    .statistic .percentage_bar .bar.percent_2 {
      width: 2%; }
    .statistic .percentage_bar .bar.percent_3 {
      width: 3%; }
    .statistic .percentage_bar .bar.percent_4 {
      width: 4%; }
    .statistic .percentage_bar .bar.percent_5 {
      width: 5%; }
    .statistic .percentage_bar .bar.percent_6 {
      width: 6%; }
    .statistic .percentage_bar .bar.percent_7 {
      width: 7%; }
    .statistic .percentage_bar .bar.percent_8 {
      width: 8%; }
    .statistic .percentage_bar .bar.percent_9 {
      width: 9%; }
    .statistic .percentage_bar .bar.percent_10 {
      width: 10%; }
    .statistic .percentage_bar .bar.percent_11 {
      width: 11%; }
    .statistic .percentage_bar .bar.percent_12 {
      width: 12%; }
    .statistic .percentage_bar .bar.percent_13 {
      width: 13%; }
    .statistic .percentage_bar .bar.percent_14 {
      width: 14%; }
    .statistic .percentage_bar .bar.percent_15 {
      width: 15%; }
    .statistic .percentage_bar .bar.percent_16 {
      width: 16%; }
    .statistic .percentage_bar .bar.percent_17 {
      width: 17%; }
    .statistic .percentage_bar .bar.percent_18 {
      width: 18%; }
    .statistic .percentage_bar .bar.percent_19 {
      width: 19%; }
    .statistic .percentage_bar .bar.percent_20 {
      width: 20%; }
    .statistic .percentage_bar .bar.percent_21 {
      width: 21%; }
    .statistic .percentage_bar .bar.percent_22 {
      width: 22%; }
    .statistic .percentage_bar .bar.percent_23 {
      width: 23%; }
    .statistic .percentage_bar .bar.percent_24 {
      width: 24%; }
    .statistic .percentage_bar .bar.percent_25 {
      width: 25%; }
    .statistic .percentage_bar .bar.percent_26 {
      width: 26%; }
    .statistic .percentage_bar .bar.percent_27 {
      width: 27%; }
    .statistic .percentage_bar .bar.percent_28 {
      width: 28%; }
    .statistic .percentage_bar .bar.percent_29 {
      width: 29%; }
    .statistic .percentage_bar .bar.percent_30 {
      width: 30%; }
    .statistic .percentage_bar .bar.percent_31 {
      width: 31%; }
    .statistic .percentage_bar .bar.percent_32 {
      width: 32%; }
    .statistic .percentage_bar .bar.percent_33 {
      width: 33%; }
    .statistic .percentage_bar .bar.percent_34 {
      width: 34%; }
    .statistic .percentage_bar .bar.percent_35 {
      width: 35%; }
    .statistic .percentage_bar .bar.percent_36 {
      width: 36%; }
    .statistic .percentage_bar .bar.percent_37 {
      width: 37%; }
    .statistic .percentage_bar .bar.percent_38 {
      width: 38%; }
    .statistic .percentage_bar .bar.percent_39 {
      width: 39%; }
    .statistic .percentage_bar .bar.percent_40 {
      width: 40%; }
    .statistic .percentage_bar .bar.percent_41 {
      width: 41%; }
    .statistic .percentage_bar .bar.percent_42 {
      width: 42%; }
    .statistic .percentage_bar .bar.percent_43 {
      width: 43%; }
    .statistic .percentage_bar .bar.percent_44 {
      width: 44%; }
    .statistic .percentage_bar .bar.percent_45 {
      width: 45%; }
    .statistic .percentage_bar .bar.percent_46 {
      width: 46%; }
    .statistic .percentage_bar .bar.percent_47 {
      width: 47%; }
    .statistic .percentage_bar .bar.percent_48 {
      width: 48%; }
    .statistic .percentage_bar .bar.percent_49 {
      width: 49%; }
    .statistic .percentage_bar .bar.percent_50 {
      width: 50%; }
    .statistic .percentage_bar .bar.percent_51 {
      width: 51%; }
    .statistic .percentage_bar .bar.percent_52 {
      width: 52%; }
    .statistic .percentage_bar .bar.percent_53 {
      width: 53%; }
    .statistic .percentage_bar .bar.percent_54 {
      width: 54%; }
    .statistic .percentage_bar .bar.percent_55 {
      width: 55%; }
    .statistic .percentage_bar .bar.percent_56 {
      width: 56%; }
    .statistic .percentage_bar .bar.percent_57 {
      width: 57%; }
    .statistic .percentage_bar .bar.percent_58 {
      width: 58%; }
    .statistic .percentage_bar .bar.percent_59 {
      width: 59%; }
    .statistic .percentage_bar .bar.percent_60 {
      width: 60%; }
    .statistic .percentage_bar .bar.percent_61 {
      width: 61%; }
    .statistic .percentage_bar .bar.percent_62 {
      width: 62%; }
    .statistic .percentage_bar .bar.percent_63 {
      width: 63%; }
    .statistic .percentage_bar .bar.percent_64 {
      width: 64%; }
    .statistic .percentage_bar .bar.percent_65 {
      width: 65%; }
    .statistic .percentage_bar .bar.percent_66 {
      width: 66%; }
    .statistic .percentage_bar .bar.percent_67 {
      width: 67%; }
    .statistic .percentage_bar .bar.percent_68 {
      width: 68%; }
    .statistic .percentage_bar .bar.percent_69 {
      width: 69%; }
    .statistic .percentage_bar .bar.percent_70 {
      width: 70%; }
    .statistic .percentage_bar .bar.percent_71 {
      width: 71%; }
    .statistic .percentage_bar .bar.percent_72 {
      width: 72%; }
    .statistic .percentage_bar .bar.percent_73 {
      width: 73%; }
    .statistic .percentage_bar .bar.percent_74 {
      width: 74%; }
    .statistic .percentage_bar .bar.percent_75 {
      width: 75%; }
    .statistic .percentage_bar .bar.percent_76 {
      width: 76%; }
    .statistic .percentage_bar .bar.percent_77 {
      width: 77%; }
    .statistic .percentage_bar .bar.percent_78 {
      width: 78%; }
    .statistic .percentage_bar .bar.percent_79 {
      width: 79%; }
    .statistic .percentage_bar .bar.percent_80 {
      width: 80%; }
    .statistic .percentage_bar .bar.percent_81 {
      width: 81%; }
    .statistic .percentage_bar .bar.percent_82 {
      width: 82%; }
    .statistic .percentage_bar .bar.percent_83 {
      width: 83%; }
    .statistic .percentage_bar .bar.percent_84 {
      width: 84%; }
    .statistic .percentage_bar .bar.percent_85 {
      width: 85%; }
    .statistic .percentage_bar .bar.percent_86 {
      width: 86%; }
    .statistic .percentage_bar .bar.percent_87 {
      width: 87%; }
    .statistic .percentage_bar .bar.percent_88 {
      width: 88%; }
    .statistic .percentage_bar .bar.percent_89 {
      width: 89%; }
    .statistic .percentage_bar .bar.percent_90 {
      width: 90%; }
    .statistic .percentage_bar .bar.percent_91 {
      width: 91%; }
    .statistic .percentage_bar .bar.percent_92 {
      width: 92%; }
    .statistic .percentage_bar .bar.percent_93 {
      width: 93%; }
    .statistic .percentage_bar .bar.percent_94 {
      width: 94%; }
    .statistic .percentage_bar .bar.percent_95 {
      width: 95%; }
    .statistic .percentage_bar .bar.percent_96 {
      width: 96%; }
    .statistic .percentage_bar .bar.percent_97 {
      width: 97%; }
    .statistic .percentage_bar .bar.percent_98 {
      width: 98%; }
    .statistic .percentage_bar .bar.percent_99 {
      width: 99%; }
    .statistic .percentage_bar .bar.percent_100 {
      width: 100%; }
  .statistic .bottom .percentage_bar .bar {
    background: #5d9eb6; }

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  color: white;
  background: #1b2b31; }

main {
  padding: 0 1em;
  text-align: center; }
  @media only screen and (min-width: 52em) {
    main {
      padding: 0 2em; } }

nav {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.25em 0;
  text-align: center; }
  nav .link {
    display: inline-block;
    padding-bottom: 0.13889em;
    margin: 0;
    text-decoration: none;
    color: #747c7f;
    border-bottom: 0.2em solid #747c7f;
    -webkit-transition: padding .4s;
            transition: padding .4s;
    clear: both; }
    nav .link a {
      text-decoration: none;
      color: #747c7f;
      -webkit-transition: color .4s, border-color .4s;
              transition: color .4s, border-color .4s; }
      nav .link a:hover {
        color: #cccccc; }
    nav .link:hover {
      padding-bottom: 0;
      border-color: #cccccc; }

main {
  height: 100%; }

article {
  position: relative;
  overflow: hidden;
  text-align: center; }
  article.js_enabled .read_more a {
    display: inline-block;
    padding-bottom: 0.13889em;
    margin: 0;
    text-decoration: none;
    color: white;
    border-bottom: 0.2em solid white;
    -webkit-transition: padding .4s;
            transition: padding .4s;
    display: inline-block;
    margin: 0; }
    article.js_enabled .read_more a a {
      text-decoration: none;
      color: white;
      -webkit-transition: color .4s, border-color .4s;
              transition: color .4s, border-color .4s; }
      article.js_enabled .read_more a a:hover {
        color: #cccccc; }
    article.js_enabled .read_more a:hover {
      padding-bottom: 0;
      border-color: #cccccc; }
  @media only screen and (min-width: 52em) {
    article {
      overflow: hidden;
      position: relative;
      padding: 0 0 3.75em 0;
      margin: 0 auto;
      width: 80%; }
      article .week_number {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        padding: 2em 0;
        width: 100%;
        background: #1b2b31; }
      article .steve,
      article .gordon {
        z-index: 3;
        position: relative;
        width: 40%; }
      article .steve {
        float: left; }
      article .gordon {
        float: right; }
      article .statistics {
        overflow: hidden;
        z-index: 2;
        position: relative;
        padding: 3.125em 0;
        clear: both;
        background: #1b2b31; }
        article .statistics .statistic {
          float: left;
          width: 20%; }
      article:after {
        display: none; }
      article:before {
        content: '';
        z-index: 2;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -0.075em;
        width: 0.15em;
        background: #747c7f; }
      article.js_enabled .read_more {
        z-index: 2;
        position: relative;
        top: -1.25em;
        padding-bottom: 1.875em;
        clear: left;
        background: #1b2b31; } }
  @media only screen and (min-width: 71em) {
    article .week_number {
      margin-top: 2em; } }

.week_number span {
  font-family: "montserratlight", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9.375em;
  line-height: 1;
  color: #a84937; }
  .wf-firasans-n4-active .week_number span {
    font-family: "montserratlight", sans-serif; }
@media only screen and (min-width: 71em) {
  .week_number span {
    font-size: 16px; }
  .week_number span {
    font-size: 12.5em; } }

.coming p {
  display: inline-block;
  padding-bottom: 0.13889em;
  margin: 0;
  text-decoration: none;
  color: white;
  border-bottom: 0.2em solid white; }

.site_by {
  padding: 0 0 1.25em 0;
  margin: 6.25em 0 0; }
  .site_by a {
    display: block;
    text-decoration: none;
    color: #a84937; }
    .site_by a:hover {
      text-decoration: underline; }

.steve,
.gordon {
  margin-bottom: 3.75em; }
  .steve > img,
  .gordon > img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 360px;
    border-radius: 50%; }
  .steve .text,
  .gordon .text {
    margin: 2.5em 0 0 0;
    text-align: left; }
    .steve .text:last-child,
    .gordon .text:last-child {
      margin-bottom: 0; }
  @media only screen and (min-width: 52em) {
    .steve,
    .gordon {
      margin-bottom: 0;
      width: 40%; }
      .steve img,
      .gordon img {
        width: 80%; } }
  @media only screen and (min-width: 71em) {
    .steve,
    .gordon {
      width: 38%; } }

.introduction h2 {
  text-align: center; }
