nav{
  z-index: 2; position: relative; padding: $bl*5 0 0 0;
  text-align: center;
}

nav, main{

  a {
    @include generate_base_font_styles($montserrat_bold);
    @include add_antialias;
    clear:both;
    padding-bottom: calculate_em(18, $bl_px*0.5);
    font-size: px2em(18); text-decoration: none; color: white;
    border-bottom: 0.2em solid white;
    transition: padding .4s, color .4s, border-color .4s;

    &:hover {
      padding-bottom: 0;
      color: $grey;
      border-color: $grey;
    }
  }
}

main{
  span.divider{
    &:after{ @extend %divider_small; margin-top:3em; }
  }
}


header {
  z-index: 1; position: relative;
  text-align: center;

  h1 {
    position: relative; padding: $bl*5.7 0 0 0;

    .text { 
      @extend %header_1;
      z-index: 2; display: block; position: relative; margin: 0 auto; max-width: 6em; margin-bottom: 0.5em;

      &:after{ @extend %divider_small; margin-top:2em; }
    }
    .number {
      @include generate_base_font_styles($montserrat_light);
      z-index: 1; display: block; position: absolute; left: 0; top: 0; width: 100%;
      font-size: px2em(200); line-height: 1; color: $red;
    }
  }

  //** SMALL **
  @include respond-to(34em) {

    h1 {
      padding-top: $bl*7.5;

      .text{
        
      }

      .number { font-size: 16px; line-height: 1; } 
      .number {
        font-size: px2em(300); line-height: 1;
      }
    }
  }

  // ** MEDIUM **
  @include respond-to($medium) {


    h1 {
      padding-top: $bl*14;

      .text{
        &:after{
          margin-top:1em;
          height:200px;
        }
      }

      .number { font-size: 16px; line-height: 1; } 
      .number {
        font-size: px2em(500); line-height: 1;
      }
    }
  }

  //** LARGE **
  @include respond-to($large) {


    h1 {
      padding-top: $bl*16;

      .text{ margin-bottom: 0; }

      .number { font-size: 16px; line-height: 1; } 
      .number {
        font-size: px2em(636); line-height: 1;
      }
    }
  }
}

.introduction {

  h2 {
    @extend %header_2;
    text-align: center;
  }
}

article{
  position:relative;
  text-align: center;
  overflow: hidden;
  h1 {

    .number_week {
      @include generate_base_font_styles($montserrat_light);
      font-size: px2em(150); line-height: 1; color: $red;

      &:after{
        @extend %divider_small;
      }
    }
  }

  // ** MEDIUM **
  @include respond-to($medium) {
    clear:both;
    display: flex;
    flex-flow: row wrap;
    flex: 3 0px;

    h1{
      order:2;
      width:20%;
      padding-top:7%;

      .number_week:after{ display: none; }
      .number_week:before{ display: none; }
    }

  }

  // ** LARGE **
  @include respond-to($large) {


    h1 {
      width:24%;
      padding-top: 6%;

      .number_week { font-size: 16px; line-height: 1; } 
      .number_week {
        font-size: px2em(214); line-height: 1;
      }
    }
  }
}

.steve,
.gordon {
  margin:0 0 2em; 
  text-align: left;

  .text { padding: 3em 0; }

  h3 { @extend %header_3; }
  & > img {
    display: block;
    margin:0 auto;
    width: 100%;
    max-width: 360px;
    border-radius: 50%;
  }
  & > .text p { @extend %para; }
  & > .text p:first-of-type { font-size: 16; line-height: 1.3; }
  & > .text p:first-of-type { @extend %big_para; }
  & > .text:last-child { margin-bottom: 0; }

  // ** MEDIUM **
  @include respond-to($medium) {
    width:40%;

    img{ width: 80%; }

    .text:before{
      content: "";
      position: absolute;
      left:50%;
      margin-left: -1px;
      width: 2px;
      height: 100%;
      background-color: #747c7f;
    }
  }

  // ** LARGE **
  @include respond-to($large) {
    width:38%;
  }
}

.steve{
  @include respond-to($medium) {
    order:1;
  }
}


.gordon{
  @include respond-to($medium) {
    order:3;
  }
}

.stats{
  @include respond-to($medium) {
    order:4;
    width: 100%;
    background-color:$blue;
    z-index: 99;
  }
}