nav {
  z-index: 2; position: absolute; top: 0; left: 0; width: 100%; padding: $bl*2 0;
  text-align: center;

  .link {
    @include elm-underlined_h3_link($divider_grey);
    clear:both;
  }
}

main {
  height: 100%;

  span.divider{
    &:after{ @extend %divider_small;}
  }
}

// ****************************************************************
// ARTICLE
// The wrapper which has the week number, and both Steve's and Gordon's content.
// ****************************************************************
article{
  position: relative; overflow: hidden;
  text-align: center;

  &:after { @extend %divider_small; }

  // JS ENABLED
  &.js_enabled {

    .read_more { // Javascript enabled toggle
      
      a {
        @include elm-underlined_h3_link;
        display: inline-block; margin: 0;
      }
    }
  }

  // ** MEDIUM **
  @include respond-to($medium) {
    @include clearfix;
    position: relative; padding: 0 0 $bl*6 0; margin: 0 auto; width: 80%;

    .week_number {
      z-index: 2; position: absolute; top: 0; left: 0; padding: 2em 0; width: 100%; // Display on top of center line.
      background: $blue;
    }
    .steve,
    .gordon {
      z-index: 3; position: relative; // Display on top of center line, and week number.
      width: 40%;
    }
    .steve { float: left; }
    .gordon { float: right; }
    .statistics {
      @include clearfix; 
      z-index: 2; position: relative; // Display on top of center line
      padding: $bl*5 0; clear: both;
      background: $blue;

      .statistic {
        float: left; width: 20%;
      }
    }

    &:after { display: none; }
    &:before {
      content: '';
      z-index: 2; display: block; position: absolute; top: 0; bottom: 0; left: 50%; margin-left: -0.075em; width: 0.15em;
      background: $divider_grey;
    }

    &.js_enabled {

      .read_more {
        z-index: 2; position: relative; // Display on top of center line
        top: -$bl*2; padding-bottom: $bl*3; clear: left;
        background: $blue;
      }
    }
  }

  // ** LARGE **
  @include respond-to($large) {

    .week_number {
      margin-top: 2em;
    }
  }
}

.week_number {

  span {
    @include generate_base_font_styles($montserrat_light);
    font-size: px2em(150); line-height: 1; color: $red;
  }

  // ** LARGE **
  @include respond-to($large) {

    span { font-size: 16px; }
    span {
      font-size: px2em(200);
    }
  }
}

.coming {

  p {
    @include elm-underlined_h3;
  }
}

.site_by {
  padding: 0 0 $bl*2 0; margin: $bl*10 0 0;

  a {
    @extend %para;
    display: block; text-decoration: none; color: $red;

    &:hover { text-decoration: underline; }
  }
}

.steve,
.gordon {
  margin-bottom: $bl*6;

  & > img {
    display: block; margin: 0 auto; width: 100%; max-width: 360px;
    border-radius: 50%;
  }

  .text {
    margin: $bl*4 0 0 0;
    text-align: left;

    h3 { @extend %header_3; }
    p { 
      @extend %para;

      &:first-child { @extend %big_para; }
    }

    &:last-child { margin-bottom: 0; }
  }
  
  // ** MEDIUM **
  @include respond-to($medium) {
    margin-bottom: 0; width:40%;

    img{ width: 80%; }
  }

  // ** LARGE **
  @include respond-to($large) {
    width:38%;
  }
}
