@mixin elm-divider_small {
  content: "";
  display: block; position: relative; margin: 2em auto; width: 0.15em; height: $bl*13;
  background-color: $divider_grey;
}

%divider_small { @include elm-divider_small; }
