@import 'genome/reset';
@import 'functions/functions';
@import 'genome/grid';
@import 'genome/variables';
@import 'genome/typography';
@import 'genome/icons';
@import 'genome/elements';
@import 'genome/skeleton';
@import 'genome/modules';
@import 'genome/base';
@import 'sections/home';
@import 'sections/about';
