* {
  box-sizing: border-box;
}

body {
  color: white;
  background: $blue;
}

main{
  padding:0 1em;
  text-align: center;

  // ** MEDIUM **
  @include respond-to($medium) {
    padding:0 2em;
  }
}

//*
// Text styles
//*
h1 {}
h2 {}
h3 {}
h4 {}
p {}
a {

}
strong {}
em {}

//*
// List styles
//  Please define all versions of lists here.
//*
ul {

  &.styled_list {}
}
ol {}

//*
// Form styles
//*
form {
}
