//*
// BASE FONT DEFINITOIN (body copy)
// This isn't going to change really.  Most browsers set the base font to be around 16px, we base our EM calculations based on that.
//*
$base_font_size_px: 16;


//*
// FONT FILE INCLUDES
//*
@font-face {
    font-family: 'montserratbold';
    src: url('/fonts/montserrat-bold-webfont.eot');
    src: url('/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-bold-webfont.woff') format('woff'),
         url('/fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('/fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratlight';
    src: url('/fonts/montserrat-light-webfont.eot');
    src: url('/fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-light-webfont.woff') format('woff'),
         url('/fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('/fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

//*
// FONT FAMLIES
//*
$montserratbold: "montserratbold", sans-serif;
$montserratlight: "montserratlight", sans-serif;

//*
// FONT FAMILY VARIATIONS
//*
$montserrat_bold: (
  font_family: $montserratbold, family_fallback: $montserratbold, active_class: 'wf-firasans-n4-active',
  font_weight: 700, font_style: normal
);

$montserrat_light: (
  font_family: $montserratlight, family_fallback: $montserratlight, active_class: 'wf-firasans-n4-active',
  font_weight: 400, font_style: normal
);

//*
// FONT STYLES
//*
//----------------- HEADER 1 ----------------- //
$header_1: (
  name: 'header_1',
  size_px: 44, line_height_baseline: 4.6, margin_bottom_baseline: 0,
  color: white, font_antialiased: true,
  breakpoints: (
    (34em 76 8),
    ($medium 120 11),
    ($large 157 16.4)
  )
);
$header_1: map-merge($header_1, $montserrat_bold);


//----------------- HEADER 2 ----------------- //
$header_2: (
  name: 'header_2',
  size_px: 100, line_height_baseline: 10, margin_bottom_baseline: 0,
  color: $red, font_antialiased: true
);
$header_2: map-merge($header_2, $montserrat_bold);


//----------------- HEADER 3 ----------------- //
$header_3: (
  name: 'header_3',
  size_px: 18, line_height_baseline: 2.6, margin_bottom_baseline: 2,
  color: white, font_antialiased: true
);
$header_3: map-merge($header_3, $montserrat_bold);

//----------------- HEADER 3 RESPONSIVE ----------------- //
// $header_3_responsive: (
//   name: 'header_3_responsive',
//   size_px: 18, line_height_baseline: 2, margin_bottom_baseline: 1,
//   color: grey(4), font_antialiased: true,
//   breakpoints: (
//     ($medium 22 2)
//   )
// );
// $header_3_responsive: map-merge($header_3_responsive, $fira_medium);


//----------------- HEADER 4 ----------------- //
// $header_4: (
//   name: 'header_4',
//   size_px: 12, line_height_baseline: 1.4, margin_bottom_baseline: 0,
//   color: grey(4), font_antialiased: true, uppercase: true
// );
// $header_4: map-merge($header_4, $fira_medium);


//----------------- PARA ----------------- //
$para: (
  name: 'para',
  size_px: 16, line_height_baseline: 2.5, margin_bottom_baseline: 2,
  color: $grey
);
$para: map-merge($para, $montserrat_light);


//----------------- BIG PARA ----------------- //
$big_para: (
  name: 'big_para',
  size_px: 24, line_height_baseline: 5, margin_bottom_baseline: 3,
  color: white, font_antialiased: true
);
$big_para: map-merge($big_para, $montserrat_bold);


//----------------- SMALL PARA ----------------- //
// $small_para: (
//   name: 'small_para',
//   size_px: 14, line_height_baseline: 2, margin_bottom_baseline: 0,
//   color: grey(3)
// );
// $small_para: map-merge($small_para, $fira_regular);


//----------------- ACTION (links) ----------------- //
// $action: (
//   name: 'action',
//   size_px: 18, line_height_baseline: 1.66, margin_bottom_baseline: 0,
//   color: $red,
//   breakpoints: (
//     ($intermediate 22 2)
//   )
// );
// $action: map-merge($action, $fira_medium);


//----------------- STRAPLINE ----------------- //
// $blockquote: (
//   name: 'blockquote',
//   size_px: 27, line_height_baseline: 3, margin_bottom_baseline: 0,
//   color: grey(4), font_antialiased: true,
//   breakpoints: (
//     ($medium 40 4)
//   )
// );
// $blockquote: map-merge($blockquote, $fira_bold_italic);


//*
// GENERATE STYLES AND PLACEHOLDERS
// Your type definition must be declared in the list below.
//*
// @include generate_font_classes(($header_1, $header_2, $header_3, $header_3_responsive, $header_4, $para, $big_para, $small_para, $action, $blockquote));
@include generate_font_classes(($header_1, $header_2, $header_3, $para, $big_para));
