//*
// COLORS
//*
$red: #a84937;
$blue: #1b2b31;
$light_blue: #5d9eb6;
$grey: #cccccc;
$divider_grey: #747c7f;


//*
// SITEWIDE SIZES
//*


//*
// BORDERS
//*


//*
// BREAKPOINTS
//*


//*
// RADIUS
//*
